<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href = "style-eshop.css">
    <link rel="stylesheet" href = "social-popup.css">
    <link rel="stylesheet" href = "tabs.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <title> BASKET WATTLE</title>
    <meta charset="utf-8">
    <script type="text/javascript" src="jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="social-popup.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=onClientLoad" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->

</head>

<body>

    <div class="haut bloque pas-de-bord">
        <ul class ="list-inline">
            <li id="gauche" >  <span id="gros"><i class="fa fa-tree" aria-hidden="true"></i>562 522 </span> arbres plantés </li>
            <li> <a href="" >MON COMPTE </a> </li>
            <li> <a href=""> PANIER (0) </a></li>
            <li> <a href="/vendeur" >VENDEURS </a> </li>
            <li> <a id="EN" href=""> EN </a>/ <a href=""> FR </a> </li>
        </ul>
    </div>

    <div>
        <img src="img/faguo-logo.png" id="image-haut" />
    </div>

    <div class="pas-de-bord" id="liste-milieu">
        <ul class="list-inline">
            <li> <a href=""> ESHOP </a> </li>
            <li> <a href=""> UNIVERS </a></li>
            <li> <a href=""> ACTU </a> </li>

        </ul>
    </div>

    <div class="pas-de-bord">
        <ul class="liste-cote">
            <li> <img src="/product_image/<%= produit.image %>"> </li>
        </ul>
    </div>

    <div class="pas-de-bord image-principale">
        <div class="big-img-container">
            <img src="/product_image/<%= produit.image %>">
            <button class="social-button" data-product-id="<%= produit.id %>">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-youtube" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                Contenu lié
            </button>
        </div>


        <div class="block-gauche pas-de-bord">
            <div class="pas-de-bord description ">
                <h2 id="nom-categorie"> <%= produit.type %> </h2>
                <h1 id="nom-du-produit"> <%= produit.nom %> </h1>
                <h1 id="prix"> 95,00 € </h1>
                <ul class="liste-pointure">
                    <li> 36 | </li>
                    <li> 37 | </li>
                    <li> 38 | </li>
                    <li> 39 | </li>
                    <li> 40 | </li>
                    <li> 41 | </li>
                    <li> 42 | </li>
                    <br>
                    <li> 43 | </li>
                    <li> 44 | </li>
                    <li> 45 | </li>
                    <li> 46 | </li>
                    <li> 47 | </li>
                </ul>
            </div>

            <div class="pas-de-bord description">
                <h2 id="panier"> AJOUTER AU PANIER </h2>
            </div>

            <div class="pas-de-bord description">
                <ul id="caracteristiques">
                    <li> <p>  Description </p>  </li>
                    <li> <p>  Entretien </p>  </li>
                    <li> <p>  Concept </p>  </li>
                    <li> <p>  Livraison </p>  </li>
                </ul>

                <p id="description">
                    Confectionnées en daim uni tabac, les baskets montantes WATTLE affichent un style contemporain et urbain. Leur semelle en caoutchouc blanche est surlignée d'une bande de couleur tabac, en écho avec le daim. La découpe graphique des empiècements en daim et du renfort arrière en cuir tons sur tons dynamisent le design épuré de la chaussure. Dotée d'une doublure en toile de coton et d'une semelle intérieure de 5mm d'épaisseur, elle est confortable pour vous accompagner dans votre quotidien.
                </p>

                <ul>
                    <li> Daim (Suede) </li>
                    <li> Renfort arrière en cuir </li>
                    <li> Marquage FAGUO sur côté intérieur </li>
                    <li> Semelle en caoutchouc blanc </li>
                    <li> Semelle intérieure 5mm </li>
                    <li> Doublure: Coton (100%) / Semelle: Caoutchouc (100%) / Dessus: Daim (Suede 70%) Cuir (30%) </li>
                </ul>

                <p> <strong> Conseil </strong>: Ce modèle taille légèrement grand. Si vous vous situez entre deux pointures, prenez la pointure inférieure. </p>

            </div>

        </div>

    </div>

    <div class="social-popup">
        <div class="bandeauHaut">
          <button id="boutonSugg"> Suggérer un contenu </button>
          <ul class ="listeRecherche">
              <li id="Rechercher"> Rechercher </li>
              <li> <img src="/img/facebook.png" href="" class = "RS"/></li>
              <li> <img src="/img/instagram.png" href="" class = "RS"/></li>
              <li> <img src="/img/twitter.png" href="" class = "RS"/></li>
              <li> <img src="/img/youtube.png" href="" class = "RS"/></li>
              <span style = "margin-right : 60px"></span>
              <li> <img src="/img/texte.png" href="" class="type"/></li>
              <li> <img src="/img/image.png" href="" class="type" id="image"/></li>
              <li> <img src="/img/video.png" href="" class="type"/></li>
              <li> <input type="text" id="search-post" style="margin-left : 60px"/></li>
          </ul>
        </div>
        <img src="img/gears.gif" class="gears" />
        <div class="content product-content">

        </div>
        <div class="content page-content">

        </div>

        <script type="text/mustache-template" id="post-template">
            <div>
                <div class="bandeau bandeau-{{type}}">
                    <a><i class="fa fa-exclamation-triangle right" aria-hidden="true"></i></a>
                    <a><i class="fa fa-star right" aria-hidden="true"></i></a>
                    <i class="fa fa-{{type}} left" aria-hidden="true"></i>
                </div>
                <strong>{{nom_auteur}}</strong> : {{description}}
                {{{mediaTag}}}
            </div>
        </script>
    </div>

    <div class="suggestion">
      <div class="fenetresugg">
        <div class="tab-block">
            <ul class="tab">
                <li class="active" id="fbsugg"><img src="/img/facebookBlanc.png" href=""/></li>
                <li id="instasugg"><img src="/img/instagramBlanc.png" href=""/></li>
                <li id="twitsugg"><img src="/img/twitter.png" href=""/></li>
                <li id="youtsugg"><img src="/img/youtube.png" href=""/></li>
            </ul>
            <ul class="tab-content">
                <li>Tutoriel Facebook</li>
                <li>Tutoriel Instagram</li>
                <li>Tutoriel Twitter</li>
                <li>Tutoriel Youtube</li>
            </ul>
        </div>
        <div class = "txtlien"> Lien à suggérer : </div>
        <input type="text" id="lien" placeholder="Appuyez sur Entrée pour envoyer..."/>
      </div>


      <script type="text/javascript">
      $('#lien').keypress(function(e) {
        var key = e.which;
        if(key == 13) {
          $.post( "/social/suggest/<%= produit.id %>" ,{url: $('#lien').val() } );
          $('#lien').val('');
          e.preventDefault;
        }
      });
      $('#boutonSugg').click(function(e) {
          $('.suggestion').fadeIn();

      });
      $('html').click(function(event){
        if($(event.target).attr('class') == 'suggestion'){
          $('.suggestion').fadeOut();
        }
      });



            function TabBlock(element) {
                this.tabBlock = element;
                element.find('.tab-content > li').hide();

                this.activeTab = element.find('.tab > li.active').index();
                element.find('.tab-content > li').eq(this.activeTab).show();

                var manager = this;
                this.tabBlock.find('.tab > li > img').click(function(e) {
                    e.preventDefault();
                    manager.openTab($(this).parent().index());
                });
            }

            TabBlock.prototype.openTab = function(index) {
                this.activeTab = index;
                this.tabBlock.find('.tab > li.active').removeClass('active');
                this.tabBlock.find('.tab > li:eq('+this.activeTab+')').addClass('active');
                this.tabBlock.find('.tab-content > li').hide();
                this.tabBlock.find('.tab-content > li').eq(this.activeTab).show();
            };

            var tabs = new TabBlock($('.tab-block'));
          </script>

    </div>

</body>
</html>
