
<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href = "style-eshop.css">
    <link rel="stylesheet" href = "social-popup.vendeur.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <title> Faguo - Nouvelle Collection </title>
    <meta charset="utf-8">
    <script type="text/javascript" src="jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="social-popup.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=onClientLoad" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->

</head>

<body>

    <div class="haut bloque">
        <ul class ="list-inline">
            <li id="gauche" >  <span id="gros"><i class="fa fa-tree" aria-hidden="true"></i>562 522 </span> arbres plantés </li>
            <li> <a href="" >MON COMPTE </a> </li>
            <li> <a href=""> PANIER (0) </a></li>
            <li> <a href="/vendeur" >VENDEURS </a> </li>
            <li> <a id="EN" href=""> EN </a>/ <a href=""> FR </a> </li>
        </ul>
    </div>

    <div>
        <img src="img/faguo-logo.png" id="image-haut">
    </div>

    <div class="pas-de-bord" id="liste-milieu">
        <ul class="list-inline">
            <li> <a href=""> ESHOP </a> </li>
            <li> <a href=""> UNIVERS </a></li>
            <li> <a href=""> ACTU </a> </li>

        </ul>
    </div>

    <div class="container">

        <div class="menu-gauche">
            <ul>
                <li> <strong> NOUVELLE COLLECTION </strong> </li>
                <li> CHAUSSURES - HOMME</li>
                <li> CHAUSSURES - FEMME</li>
                <li> CHAUSSURES - ENFANT</li>
                <li> BAGAGERIE</li>
                <li> ACESSOIRES</li>
                <li> VETEMENTS</li>
            </ul>

            <div id="menu-gauche-bas">
                <ul>
                    <li> COLLECTION COCORICO </li>
                    <li> GRANDES POINTURES</li>
                    <li> OUTLET</li>
                    <li> TOUTES LES CHAUSSURES</li>
                </ul>
            </div>
        </div>

        <div id="illustration">
            <img src = "img/lookbook-1-1.jpg">
        </div>

        <div class="nouvelle-co">
            <h3> NOUVELLE COLLECTION  </h3>

            <div class="liste-produits">
                <ul>
                    <% produits.forEach(function(produit){ %>
                        <li>
                            <img src="/product_image/<%= produit.image %>" data-key="">
                            <button class="social-button social-list" data-product-id="<%= produit.id %>">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                <i class="fa fa-youtube" aria-hidden="true"></i>
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                Contenu lié
                            </button>
                            <a href="/produit-<%= produit.id %>">
                                <p class="ligne1"> <%= produit.type %>  <br class="ligne2"/> <%= produit.nom %> <br class="ligne3"/> 95,00€</p>
                            </a>
                        </li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>

    <div class="social-popup">
        <div class="bandeauHaut">
          <ul class ="listeRecherche">
              <li>
                <img src="/img/facebook.png" href="" class = "RS"/>
                <img src="/img/instagram.png" href="" class = "RS"/>
                <img src="/img/twitter.png" href="" class = "RS"/>
                <img src="/img/youtube.png" href="" class = "RS"/>
              </li>
              <li>
                <img src="/img/texte.png" href="" class="type"/>
                <img src="/img/image.png" href="" class="type" id="image"/>
                <img src="/img/video.png" href="" class="type"/>
              </li>
              <li><input type="text" id="search-post" placeholder="Rechercher une publication..."/></li>
          </ul>
        </div>
        <img src="img/gears.gif" class="gears" />
        <div class="content product-content">

        </div>
    </div>
        
    <script type="text/mustache-template" id="post-template">
        <div class="post">
            <div class="bandeau bandeau-{{type}}">
                <a><i class="fa fa-exclamation-triangle right" aria-hidden="true"></i></a>
                <a class="pinA"><i class="fa fa-thumb-tack right pin{{pin}}" aria-hidden="true"></i></a>
                <i class="fa fa-{{type}} left" aria-hidden="true"></i>
            </div>
            <div class="body">
                <strong>{{nom_auteur}}</strong> : {{description}}
                {{{mediaTag}}}
            </div>
        </div>
    </script>

    <script type="text/javascript">
        var fbOnline = false;

        window.fbAsyncInit = function() {
            // On initialise le SDK FB en spécifiant la version de l'API que l'on souhaite utiliser ainsi que l'identifiant de notre application
            FB.init({
                appId      : '<%= locals.fbAppID %>',
                version    : 'v2.7'
            });
            FB.getLoginStatus(function(response) {
                fbOnline = (response.status === 'connected');
            });
        };

        // Ce code est donné par l'exemple sur la documentation de Facebook, il s'agit simplement d'ajouter un noeud <script>
        // permettant d'inclure le SDK Facebook dans la page
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/fr_FR/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>
    </script>

</body>
</html>
