header {
	background: #34495E;
	border-radius: 0;
	margin: 0;
	margin-left: 100px;
	padding: 10px 0;
	text-align: center;
	width: calc(100% - 100px);
	position:absolute;
    top: 0;
    height: 80px;
}

menu {
    position: absolute;
    top: 0;
	background: #34495E;
    box-sizing: border-box;
	border-radius: 0;
	height: 100%;
	margin: 0;
	padding: 10px 0;
	padding-left: 2px;
	width: 100px;
}

section {
	background: #eceff1;
    box-sizing: border-box;
	border-radius: 0;
	/*height: calc(100% - 80px);*/
    height: 100%;
    margin: 0;
	margin-left: 100px;
	padding:10px;
	width: calc(100% - 100px);
}

body, html {
    height: 100%;
    font-family: Lato;
}

ol li {
	background: #DEE4E8;
	border-radius: 4px;
	padding: 5px;
	margin: 5px 0;
}

header h1{
  color: white;
}

.admin {
    text-align: center;
}
.admin img {
	border-radius: 50%;
    width: 80px;
}

.tabvendeur table {
    border-collapse: collapse;
    margin-bottom: 20px;
}

.tabvendeur {
    padding: 15px;
    background-color: white;
	text-align : center;
}

.tabvendeur th {
		border : 1px solid lightgray;
}

.tabvendeur td {
		border : 1px solid lightgray;
        padding: 5px;
}

.tabvendeur img {
	height : 50px;
}

.nom {
	width:25%;
}

.photo {
	width : 15%;
}

.secteur {
	width : 35%;
}

.identifiant {
	width : 25%;
}

.tabvendeur th.edit {
	border:none;
}

.tabvendeur td.edit {
	border:none;
}

.tabvendeur td.edit img, .tabvendeur td.delete img {
	height: 20px;
}

.tabvendeur th.delete {
	border:none;
}

.tabvendeur td.delete {
	border:none;
}

.editpopup {
	display: none;
	z-index: 100;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
}

.editpopup .fenetreedit{
    border-radius: 5px;
    background-color: white;
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
}

.editpopup .fenetreedit h1{
    font-size: 20px;
}

.addpopup {
	display: none;
	z-index: 100;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
}

.addpopup .fenetreedit{
    border-radius: 5px;
    background-color: white;
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
}

.addpopup .fenetreedit h1{
    font-size: 20px;
}

.add {
	text-align:justify;
	border-radius: 50%;
    width: 50px;
}

.form-group {
    margin: 5px;
}

.form-group label {
    display: inline-block;
    box-sizing: border-box;
    width: 30%;
}


.form-group input {
    display: inline-block;
    box-sizing: border-box;
    width: 69%;
}


menu ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

menu ul a {
    box-sizing: border-box;
    display: block;
    padding: 5px;
    width: 100%;
}

menu ul a {
    box-sizing: border-box;
    display: block;
    padding: 5px;
    width: 100%;
}

menu ul a:hover {
	background: #44596E;
    display: block;
    width: 100%;
}

menu ul a.active {
	background: #64798E;
    display: block;
    width: 100%;
}

menu ul img {
    width: 50px;
}

.searchbar {
    text-align: center;
}

.searchbar > input {
    min-width: 40%;
    border: 1px solid lightgray;
    outline: none;
    font-size: 1em;
    border-radius: 2px;
    padding: 5px;
    color: gray;
    font-family: Lato;
}

#details {
    display: none;
    background: white;
    border: 1px solid lightgray;
    float: right;
    width: 50%;
    padding: 5px;
}

.liste-produits {
    list-style: none;
    border: none;
    padding-left: 0px;
    width: 100%;
}

.liste-produits ul {
    padding: 0;
}

.liste-produits li {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    background: white;
    border: 1px solid lightgray;
    transition: border-color 0.5s;
    width: 15%;
    text-align: center;
    position: relative;
    float: left;
}

.liste-produits a {
    cursor: pointer;
}

.liste-produits li .ligne1 {
    color: #808075;
}

.liste-produits img {
    width: 100%;
}

body {
    margin: 0;
    position: absolute;
    width: 100%;
    top: 0;
}

body footer p {
	background: #34495E;
	border-radius: 6px;
	color: white;
	font-size: 13px;
	padding: 10px;
}

.image-principale{
  padding:0px;
  float:left;
}
.image-principale .big-img-container {
    float:left;
    margin: initial;
    padding-right: 5px;
    box-sizing: border-box;
    width: 30%;
    border: none;
}
.big-img-container img {
    width:100%;
}

.block-gauche{
  float: right;
  width: 70%;
}

.description{
    width: 100%;
}

#nom-du-produit{
  font-size:18px;
  font-weight: bold;
}

#nom-categorie{
  font-size:14px;
}

#prix{
  font-size:22px;
  font-weight: bold;
}

.liste-pointure{
  font-size: 13px;
  font-weight:400;
  list-style: none;
  padding-left:0px;

}

.liste-pointure li{
  display:inline-block;
    padding-bottom:5px;
}

#panier{
  font-size:14px;
  font-weight: bold;
  color: white;
  background-color: #191F40;
  padding:20px;
  text-align: center;
  margin-top:0px;
}
#caracteristiques{
  list-style: none;
  padding-left:0px;
  font-size: 14px;
}
#caracteristiques li:first-child {
  background-color: #191F40;
  border-left:none;
  color:white;
}
#caracteristiques li{
  display: inline-block;
  text-align: center;
  border-left: 1px solid #191F40;
  padding:5px 10px 0px 10px;
}

#description{
font-size: 14px;
}

.fb-login, .indexSearch {
    padding: 10px;
    background: none;
    background-color: #0082C2;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 10px;
    font-weight: bold;
}

.fb-login:disabled {
    background-color: gray;
}

.tab {
    padding: 0;
}

.tab > li {
    width: 50%;
    display: inline-block;
    float: left;
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
}

.tab > li > a {
    display:block;
    width: 100%;
    color: black;
}

.tab > li.active > a {
    text-decoration: none;
    color: black;
}

.tab > li.active {
    background-color: lightgray;
}

.tab-content {
    list-style: none;
    padding: 0;
}

.tab-content > li {
    display: none;
    width: 100%;
    float: left;
}

.tab-content > li:first-child {
    text-align: center;
}

.tab-content > li.active {
    display: block;
}

.social-post {
    background: white;
    width: initial;
    padding: 10px;
    margin: 10px 0;
}

.fa.fa-facebook {
    color : white;
}
.bandeau {
    background : #657bf4;
    margin-top : -10px;
    margin-left : -10px;
    margin-right : -10px ;
    width : calc(100% + 20px);
    height : 30px;
    line-height: 30px;
}
