body{

}

.chat-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row-reverse;
  pointer-events: none;
}

.chat {
  margin-right: 20px;
  width: 300px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  margin-top: auto;
  pointer-events: auto;
}

.chat .header {
  background-color: #34495E;
  color: white;
  padding: 5px 10px;
}

.chat .header > a {
  float: right;
}

.chat .body {
  height: 400px;
  padding-top: 5px;
  background-color: white;
  overflow: auto;
  margin-bottom: 60px;
}

.chat .message {
  width: 60%;
  margin: 8px;
  padding-left: 30px;
  float: left;
}

.chat .message > .author {
  margin-left: -30px;
  float: left;
  width: 25px;
}

.chat .message > .infos {
  color: gray;
  font-style: italic;
  font-size: 0.6em;
}

.chat .message > .line {
  background-color: #a9bdd0;
  margin-bottom: 5px;
  border-radius: 2px;
  padding: 5px;
  font-size: 0.8em;
}

.chat .message.message-own > .author {
  float: right;
  margin-right: -30px;
}

.chat .message.message-own {
  float: right;
  padding-right: 30px;
}

.chat .message.message-own > .line {
  background-color: lightgray;
}

.chat .sendbox {
  position: absolute;
  border-top: 1px solid lightgray;
  bottom: 0;
  width: 300px;
}

.chat .sendbox button {
  position: absolute;
  color: #34495E;
  right: 5px;
  top: calc(50% - 10px);
  font-size: 18px;
  background: none;
  border: none;
  outline: none;
}

.chat .sendbox textarea {
  outline: none;
  border: none;
  resize: none;

  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  padding-right: 25px;
  font-family: Lato;
}

/*.chatbox{
  width: 50%;
  min-width: 390px;
  height: 530px;
  background: #fff;
  padding: 25px;
  margin: 30px;
  box-shadow: 0 3px #ccc;
}

.chatlogs{
  padding: 50px;
  width: 100%;
  height: 450px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: -550px;
}

.chatlogs::-webkit-srollbar{
  width: 10px;
}

.chatlogs::-webkit-srollbar-thumb{
  border-radius: 5px;
  background: rgba(0,0,0,.1);
}

.chat{
  display: flex;
  flex-flow: row-wrap;
  align-times: flex-start;
}

.chat .user-photo{
  width: 60px;
  height: 60px;
  background: #ccc;
  border-radius: 50%;
  overflow:hidden;
}

.chat .user-photo img{
  width: 100%;
}

.chat .chat-message{
  width: 70%;
  padding: 15px;
  margin: 10px 10px 0;
  border-radius: 10px;
  color: #fff;
  font-size: 12px;
}

.friend .chat-message{
  background: #1adda4;
}

.self .chat-message{
  background: #1added;
  order:-1;
}

.chat-form{
  margin-top: -30px;
  display: flex;
  align-items: flex-start;
}

.chat-form textarea{
  background: #fbfbfb;
  width: 75%;
  height: 50px;
  border: 2px solid #eee;
  border-radius: 3px;

  padding: 10px;
  font-size: 12px;
  color: #333;
}

.chat-form textarea:focus{
  background: #fff;
}


.chat-form textarea::-webkit-srollbar{
  width: 10px;
}

.chat-form textarea::-webkit-srollbar-thumb{
  border-radius: 5px;
  background: rgba(0,0,0,.1);
}


.chat-form button{
  background: #1ddcef;
  padding: 5px 15px;
  font-size: 30px;
  color: black;
  border: none;
  margin: 0 10px;
  border-radius: 3px;
  box-shadow: 0 3px 0 #0eb2c1;
  cursor: pointer;

  -webkit-transition: background .2s ease;
  -moz-transition: background .2s ease;
  -o-transition: background .2s ease;
}

.chat-form button:hover{
  background: #13c8d9;
}

.video{
  width: 500px;
  min-width: 300px;
  height: 530px;
  background: black;
  margin: 30px;
  box-shadow: 0 3px #ccc;
  margin-left: 600px;
  margin-top: -25px;
  border-radius: 15px;
}
*/