.box {
    font-family: Lato;
    width: 100%;
    background-color: white;
    border: 1px solid lightgray;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.barcode-button {
    background: none;
    outline: none;
    border: 1px solid lightgray;
    height: 40px;
    display: block;
    align-self: center;
    margin: 0 10px;
    cursor: pointer;
    margin-right: 0;
}

.scan-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-around;
}

.scan-overlay video {
    transform: rotateY(180deg);
    align-self: center;
}

.box > .heading {
    padding: 20px 20px;
    display: flex;
	border-bottom: 1px solid lightgray;
}

.box > .heading > h2 {
    flex: 1;
    margin: 0;
}

.box > .heading > input {
    align-self: center;
}

.box > .heading input {
    padding: 5px;
    outline: none;
    font-family: Lato;
}

.box > .content {
    float: none;
}

.box > .content ul {
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 900px) {
    .no-selection {
        display: none;
    }

    .product-details .product-banner, .question-details .question-banner {
        margin-top: 20px;
    }
}

@media screen and (min-width: 900px) {
    .back-to-list {
        display: none;
    }
}

.box > .content img {
    margin-right: 10px;
    max-height: 80px;
}

.box > .content ul:not(.clickable-items) li:not(.form), .box > .content ul li.form form, .box > .content li > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    border-bottom: solid 1px lightgray;
}

.box > .content li.active {
    border-left: 5px solid #34495E;
    outline: 2px;
}

.box > .content {
    display: flex;
    flex-direction: row;
}

.box > .content > .sidebar {
    border-right: solid 1px lightgray;
    overflow: auto;
    flex: 1;
}

.box > .content > li > div, .box > .content > div {
    flex: 1;
}

.box > .content > div > p:only-child {
    color: gray;
    margin-top: 50%;
    text-align: center;
}

section {
    overflow: auto;
}

.box > .content li *:not(img):not(.button) {
    margin: 0;
    flex: 1;
}

.button {
    border: 1px solid #34495E;
    font-family: Lato;
    background: none;
    padding: 8px;
    font-size: 0.8em;
    padding: 5px;
}


.box .product-details, .box .question-details {
    padding: 15px;
    overflow: auto;
}

.question-details .question-banner {
    overflow: auto;
    display: flex;
}

.question-details .question-banner img {
    max-height: 50px;
}

.question-details .question-banner h4 {
    margin: 0 0 5px;
}

.question-details .reponse-list img {
    border-radius: 50%;
    max-height: 50px;
}

.product-details .product-banner {
    overflow: auto;
    border-bottom: solid 1px gray;
}

.product-details .product-banner p {
    text-indent: 20px;
}

.product-details .product-banner img {
    float: left;
    max-height: 200px;
}

.question-list img {
    border-radius: 25px;
    max-height: 50px !important;
}

.question-details .question-banner img {
    border-radius: 50%;
}

.right {
    float: right;
}

.social-button {
    padding: 10px;
    background: none;
    background-color: #0082C2;
    color: white;
    border: none;
    border-radius:5px;
    font-size:14px;
    margin: auto;
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.box .content .question-item a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.box .content .question-item img {
    max-height: 50px;
    border-radius: 50%;
}

.box .content .question-item .response-count {
    flex: none;
    text-align: center;
}

.box .form textarea, .box .form select {
  width: 100%;
  outline: none;
  resize: none;
  font-family: Lato;
  padding: 5px;
  margin-top: 5px !important;
}

.box .form img {
    max-height: 50px;
    border-radius: 50%;
}

.login-form {
    max-width: 500px;
    margin: auto;
}

.reponse-list img:last-child {
    display: none;
}
.question-details .reponse-list img {
    border-radius: 50%;
    max-height: 50px;
}