.liste-produits {
    width: 100%;
}

.liste-produits ul {
    display: flex;
    flex-wrap: wrap-reverse;
}

.liste-produits li {
    min-width: 200px;
    flex: 1;
}

/*.social-popup .bandeauHaut ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0;
    height: 100%;
}

.social-popup .bandeauHaut ul li {
    flex: 1;
}*/