.question-list {
  float: left;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.questions, .reponses {
  flex: 2;
  padding-right: 5px;
  overflow: auto;
}

.qblock {
  width : 100%;
  float: left;
  background-color : white;
  border : solid lightgrey 1px;
  margin-bottom : 20px;
}

.question .see-details {
  display: block;
  float: right;
  padding: 5px 10px;
  border: 1px solid gray;
  font-size: 0.8em;
  cursor: pointer;
}

.question span.see-details {
  border: none;
  cursor: default;
  font-size: 0.8em;
  color: gray;
}

.question {
  text-align : justify;
}

.question.selected {
  border-color: #34495E;
  border-left-width: 5px;
  width: calc(100% - 5px);
}

.ajouterQuestion h4 {
  margin: 0;
  margin-bottom: 10px;
}

.ajouterQuestion textarea, .ajouterQuestion select {
  width: 100%;
  outline: none;
  resize: none;
  font-family: Lato;
  padding: 5px;
  margin-top: 5px !important;
}

.ajouterReponse {
  display: none;
}

.ajouterReponse {
  background-color: white;
  border: solid lightgrey 1px;
  box-sizing: border-box;
}

.ajouterReponse h4 {
  margin: 0;
  margin-bottom: 10px;
}

.ajouterReponse textarea {
  font-family: Lato;
  padding: 5px;
  width: 100%;
  outline: none;
  resize: none;
  margin-bottom: 10px;
}

.ajouterReponse input[type="submit"] {
  float: right;
}

.qblock > div:first-child {
  float: left;
  padding: 10px;
  width: 80px;

  display: flex;
  flex-direction: column;
}

.qblock > div:first-child > * {
  margin: auto;
  margin-bottom: 5px;
}

.qblock .vendeur {
  font-weight: bold;
}

.qblock .date {
  font-size: 0.6em;
}

.qblock > div:last-child {
  float: left;
  padding: 10px;
  width: calc(100% - 130px);
}

.qblock .photo {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
