.video16-9 {
    width: initial;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video16-9 iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.social-popup {
    background: rgba(0,0,0,0.5);
    display: none;
    position: fixed;
    width: 100%;
    padding: calc(50% - 500px);
    padding-bottom: 10px;
    padding-top: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.suggestion {
  background : rgba(0,0,0,0.9);
  width : 100%;
  padding : calc(50% - 400px);
  color : white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 10px;
  padding-top: 100px;
  position: fixed;
}

.fenetresugg {
  background-color : rgba(0,0,0,0);
  position : fixed;
  height : 400px;
  width : 50%;

}

.fenetresugg > .tab-block {
  background-color : white;
  width : 100%;
  border : 0px;
  padding : 0px;
}

.fenetresugg > .tab-block > .tab > li {
  width : 25%;
  border : 1px solid black;
}

.fenetresugg > .tab-block > .tab-content {
  width : 100%;
  height : 300px;
  border : 1px solid black;
}

.tab > li.active#fbsugg{
    background-color: #657bf4;
}

.tab > li.active#instasugg{
    background-color: #d684e4;
}

.tab > li.active#twitsugg{
    background-color: #6cc3eb;
}

.tab > li.active#youtsugg{
    background-color: #ee7e88;
}

.suggestion {
  display : none;
  font-family : Lato;
  color : black;
  text-align : center;
}

.tab > li > img {
  height : 30px;
}

.expl {

}

.txtlien {
  display : block;
  align : center;
  border : 0px;
  width : 100%;
  color : white;
  font-style : bold;

}

.fenetresugg > input {
  width : 100%
}
.gears {
    display: block;
    margin: auto;
}

.product-content {
    width: 70%;
}

.page-content {
    width: 30%;
}

.content {
    float: left;
}

.content > div {
    /*display: none;
    background: white;
    width: initial;
    padding: 10px;
    margin: 10px 0;*/
}

.content > div > img {
    width: 100%;
}

.social-popup div {
    border: none;
}

.social-popup h3 {
    text-align: center;
}

.bandeau {
    margin-top : -10px;
    margin-left : -10px;
    margin-right : -10px ;
    margin-bottom: 5px;
    width : calc(100% + 20px);
    height : 30px;
    color: white;
    font-size: 18px;
    padding-top: 8px;
    color : white;
}

.bandeau-facebook {
    background : #657bf4;
}

.bandeau-twitter {
    background : #6cc3eb;
}

.bandeau a {
    cursor: pointer;
    color: white;
}

.bandeau a:hover {
    color: #A5Bbff;
}

.bandeau .left {
    margin: 0 5px;
    float: left;
}

.bandeau .right {
    margin: 0 5px;
    float: right;
}

.favori {
    height : 140%;
    margin-right : 10px;
    margin-top : -2px;
}

.signaler {
    height : 130%;
    margin-right : 10px;
    margin-top : -2px;
}

.bandeauHaut {
    background-color: black;
    top : 0px;
    left : 0px;
    width : 100%;
    position : fixed;
    height: 42px;
}

.listeRecherche{
    padding : 0 calc(50% - 500px);
    padding-top : 0px;
    list-style:none;
}

.listeRecherche > li  {
    display: inline-block;
}

.listeRecherche > li > img {
    height: 30px ;
}

#Rechercher {
    padding-right : 60px;
    color : white;
    background-color : black;
    font-style : lato ;
    font-size : 20px;
    padding-top : -10px;
}

.RS {
    background-color : white;
}

.listeRecherche > li > input {
    margin-left : 60px;
    width : 350px;
}

.bandeauHaut > button {
  padding: 5px;
  border: none;
  background-color : green;
  margin-right : 60px;
  width : 160px;
  float : right;
  color : white;
}
