.video16-9 {
    width: initial;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video16-9 iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.social-popup {
    background: rgba(0,0,0,0.5);
    display: none;
    position: fixed;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 50px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.content > div > img {
    width: 100%;
}

.social-popup div {
    border: none;
}

.social-popup h3 {
    text-align: center;
}

.social-popup .content {
    max-width: 500px;
    margin: auto;
}

.social-popup .body {
    padding: 5px;
    width: initial;
}

.social-popup .body img {
    width: 100%;
    margin-top: 5px;
}

.social-popup .post {
    background-color: white;
    margin-bottom: 20px;
    padding: 0;
    width: initial;
}


.bandeau {
    margin: 0;
    margin-bottom: 5px;
    width: 100%;
    height : 30px;
    color: white;
    font-size: 18px;
    padding-top: 8px;
    color : white;
}

.bandeau-facebook {
    background : #657bf4;
}

.bandeau-twitter {
    background : #6cc3eb;
}

.bandeau a {
    cursor: pointer;
    color: white;
}

.bandeau a:hover {
    color: #A5Bbff;
}

.bandeau .left {
    margin: 0 5px;
    float: left;
}

.bandeau .right {
    margin: 0 5px;
    float: right;
}

.favori {
    height : 140%;
    margin-right : 10px;
    margin-top : -2px;
}

.signaler {
    height : 130%;
    margin-right : 10px;
    margin-top : -2px;
}

.bandeauHaut {
    background-color: black;
    top : 0px;
    left : 0px;
    width : 100%;
    position : fixed;
    height: 42px;
}

.listeRecherche {
    display: flex;
    height: 100%;
    padding: 5px;
    list-style:none;
}

.listeRecherche li {
    margin: 0 10px;
    height: 100%;
    display: flex;
}

.listeRecherche li img {
    height: 100%;
}

.listeRecherche input {
    outline: none;
    border: none;
    background-color: rgba(255,255,255,0.3);
    font-family: Lato;
    color: white;
    padding: 5px;
    flex: 1;
}

.RS {
    background-color : white;
}

.listeRecherche > li:last-child {
    flex: 1;
}

.bandeauHaut > button {
  padding: 5px;
  border: none;
  background-color : green;
  margin-right : 60px;
  width : 160px;
  float : right;
  color : white;
}
