body{
  font-family: Century Gothic;
  color: rgb(30,30,30);
  margin-top:50px;
}


div{
  padding: 5px;
  border-bottom: 1px solid rgb(30,30,30);
  width:900px;
  margin:auto;
}

.pas-de-bord{
  border: none;
  padding: 10px;
}

a {
  color: rgb(30,30,30);
  text-decoration:none;
}

a:hover{
  color: rgb(150,150,150);
  text-decoration: underline;
}

#gros{
  font-size:21px;
  align:left;
}

.haut{
  font-size:12px;
  color: rgb(255,255,255);
  background-color: rgb(60,60,60);
  padding-right:230px;
  padding-bottom:0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  width: 100%;
  border: none;
  position:fixed;
  margin-top:-50px;
  height: 42px;
}

#gauche{
  position:absolute;
  left: 230px;
  padding: 1px;
}


.haut a{
  color:rgb(255,255,255);
}

.haut a:hover{
  text-decoration:underline;
  color:rgb(150,150,150);
}

.haut> ul {
  text-align:right;
}

#EN:visited {
  color:rgb(150,150,150);
}

#image-haut{
  align:center;
  padding-bottom: 30px;
  padding-top:30px;
}


.menu>li{
    font-size: 20px;
    font-weight:500;
}

.list-inline{
  list-style:none;
  padding-left:0px;
  text-align: center;
}

.list-inline li{
  display: inline-block;
  padding:10px;
}

#image-haut{
  display: block;
  margin:auto;
}

#liste-milieu {
  font-family: Arial;
  line-height: 20px;
  font-size: 20px;
  font-weight:550;
  margin-top: 20px;
}

#liste-milieu > a:hover{
  text-family: Arial;
  line-height: 20px;
  font-size: 20px;
  font-weight:500;
  text-decoration:underline;
  color:rgb(150,150,150)
}

.haut-de-page{
  width:900px;
  border:none;
  margin-top: 20px;
}

.menu-gauche{
    width:30%;
    padding-left:5px;
    padding-right:10px;
    border:none;
    float:left;
}

.menu-gauche ul{
  list-style:none;
  padding-left:0px;
}

#menu-gauche-bas{
  padding-left:0px;
  padding-top:7px;
  border-top: 1px solid black;
  border-bottom:none;
  width:100%;
}

#illustration{
  width:70%;
  border: none;
  float:right;
  padding-bottom: 20px;
}

#illustration > img{
  width: 100%;
}

.container{
  width:900px;
}

.nouvelle-co{
border:none;
width:70%;
margin-right:0px;
margin-left:30%;
margin-top:30px;
margin-bottom: 150px;

}

.nouvelle-co h3{
  font-family: Arial;
  line-height: 20px;
  font-size: 20px;
  font-weight:550;
  padding-bottom: 10px;

}


.liste-produits{
  list-style:none;
  border:none;
  padding-left: 0px;
  width:100%;
}

.liste-produits li{
  display:inline-block;
  width:30%;
  text-align:center;
  position: relative;
  float: left;
}

.social-button {
    padding: 10px;
    background: none;
    background-color: #0082C2;
    color: white;
    border: none;
    border-radius:5px;
    font-size:14px;
    margin: auto;
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.social-button.social-list {
    width: 100px;
    display: none;
    top: 50%;
    left: calc(50% - 40px);
    padding: 5px;
    position: absolute;
}

.fa {
  padding-left:3px;
}

.liste-produits li:hover button {
    display: block;
}

.liste-produits li img{
  width:100%;
  margin:0px;
}

.liste-produits ul{
    width:675px;
    margin-left:0px;
    padding:0px;
}

 p.ligne1{

  font-size:12px;
  color:#808075;
  padding-top: 10px;
  padding-bottom:10px;
}

.ligne2{

  font-size:12px;
}

.ligne3{

  font-size:8px;
  color:#625D5D;
}

.liste-cote{
  list-style:none;
  padding-left:0px;
  width: 9%;
  float: left;
  padding-top: 10px;
}

.liste-cote li{
  display:block;
  padding-bottom: 5px;
  width:100%;
}
.liste-cote li img{
  width:100%;
}

.image-principale{
  padding:0px;
  float:left;
}
.image-principale .big-img-container {
    float:left;
    margin: initial;
      width: 44%;
      border: none;
}
.big-img-container img {
    width:100%;
}

.block-gauche{
  float: right;
  width:500px;
}

.description{
    width:500px;
}

#nom-du-produit{
  font-size:18px;
  font-weight: bold;
}

#nom-categorie{
  font-size:14px;
}

#prix{
  font-size:22px;
  font-weight: bold;
}

.liste-pointure{
  font-size: 13px;
  font-weight:400;
  list-style: none;
  padding-left:0px;

}

.liste-pointure li{
  display:inline-block;
    padding-bottom:5px;
}

#panier{
  font-size:14px;
  font-weight: bold;
  color: white;
  background-color: #191F40;
  padding:20px;
  text-align: center;
  margin-top:0px;
}
#caracteristiques{
  list-style: none;
  padding-left:0px;
  font-size: 14px;
}
#caracteristiques li:first-child {
  background-color: #191F40;
  border-left:none;
  color:white;
}
#caracteristiques li{
  display: inline-block;
  text-align: center;
  border-left: 1px solid #191F40;
  padding:5px 10px 0px 10px;
}

 #description{
   font-size: 14px;
 }
