.tab {
    padding: 0;
    float: left;
    width: 100%;
}

.tab > li {
    width: 50%;
    display: inline-block;
    float: left;
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
}

.tab > li > a {
    display:block;
    width: 100%;
    color: black;
}

.tab > li.active > a {
    text-decoration: none;
    color: black;
}

.tab > li.active {
    background-color: lightgray;
}

.tab-content {
    list-style: none;
    padding: 0;
}

.tab-content > li {
    display: none;
    width: 100%;
    float: left;
}

.tab-content > li.active {
    display: block;
}
