ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
* {
    box-sizing: border-box;
}

.generic-form input {
    flex: 3;
    width: 70%;
    border: 1px solid lightgray;
    outline: none;
    font-size: 1em;
    border-radius: 2px;
    padding: 5px;
    color: gray;
    font-family: Lato;
}

.generic-form input[type=submit] {
    background-color: lightseagreen;
    color: white;
    border: none;
    align-self: center;
}

.generic-form .input-group {
    flex: 1;
    align-items: center;
    display: flex;
}

.generic-form label {
    flex: 1;
    box-sizing: border-box;
    width: 30%;
}

.generic-form {
    display: flex;
    flex-direction: column;
}

header {
	background: #34495E;
	border-radius: 0;
	margin: 0;
	margin-left: 100px;
	padding: 10px 0;
	text-align: center;
	width: calc(100% - 100px);
	position:absolute;
    top: 0;
    height: 80px;
}

menu {
    position: absolute;
    top: 0;
	background: #34495E;
    box-sizing: border-box;
	border-radius: 0;
	height: 100%;
	margin: 0;
	padding: 10px 0;
	padding-left: 2px;
	width: 100px;
}

section {
	background: #eceff1;
    box-sizing: border-box;
	border-radius: 0;
	/*height: calc(100% - 80px);*/
    height: 100%;
    margin: 0;
	margin-left: 100px;
	padding:10px;
	width: calc(100% - 100px);
}

body, html {
    height: 100%;
    font-family: Lato;
}

ol li {
	background: #DEE4E8;
	border-radius: 4px;
	padding: 5px;
	margin: 5px 0;
}

header h1{
  color: white;
}

.vendeur {
    text-align: center;
}
.vendeur img {
	border-radius: 50%;
    width: 80px;
}

menu ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

menu ul a {
    box-sizing: border-box;
    display: block;
    padding: 5px;
    width: 100%;
}

menu ul a {
    box-sizing: border-box;
    display: block;
    padding: 5px;
    width: 100%;
}

menu ul a:hover {
	background: #44596E;
    display: block;
    width: 100%;
}

menu ul a.active {
	background: #64798E;
    display: block;
    width: 100%;
}

menu ul img {
    width: 50px;
}

.searchbar {
    text-align: center;
}

.searchbar > input {
    min-width: 40%;
    border: 1px solid lightgray;
    outline: none;
    font-size: 1em;
    border-radius: 2px;
    padding: 5px;
    color: gray;
    font-family: Lato;
}

#details {
    display: none;
    background: white;
    max-height: calc(100% - 70px);
    overflow: auto;
    border: 1px solid lightgray;
    float: right;
    margin-top: 26px;
    width: 65%;
    padding: 5px;
}

.liste-produits {
    margin-top: 10px;
    border: none;
    padding-left: 0px;
    height: calc(100% - 50px);
    width: 30%;
    float: left;
    overflow: auto;
}

.liste-produits ul {
    list-style-type: none;
    padding: 0;
}

.liste-produits li {
    padding: 5px;
    margin: 5px;
    background: white;
    border: 1px solid lightgray;
    transition: border-color 0.5s;
    position: relative;
}

.liste-produits a {
    cursor: pointer;
}

.liste-produits li .ligne1 {
    color: #808075;
}

.liste-produits img {
    margin-right: 5px;
    height: 90px;
    float: left;
}

body {
    margin: 0;
    position: absolute;
    width: 100%;
    top: 0;
}

body footer p {
	background: #34495E;
	border-radius: 6px;
	color: white;
	font-size: 13px;
	padding: 10px;
}

.image-principale{
  padding:0px;
  float:left;
}
.image-principale .big-img-container {
    float:left;
    margin: initial;
    padding-right: 5px;
    box-sizing: border-box;
    width: 30%;
    border: none;
}
.big-img-container img {
    width:100%;
}

.block-gauche{
  float: right;
  width: 70%;
}

.description{
    width: 100%;
}

#nom-du-produit{
  font-size:18px;
  font-weight: bold;
}

#nom-categorie{
  font-size:14px;
}

#prix{
  font-size:22px;
  font-weight: bold;
}

.liste-pointure{
  font-size: 13px;
  font-weight:400;
  list-style: none;
  padding-left:0px;

}

.liste-pointure li{
  display:inline-block;
    padding-bottom:5px;
}

#panier{
  font-size:14px;
  font-weight: bold;
  color: white;
  background-color: #191F40;
  padding:20px;
  text-align: center;
  margin-top:0px;
}
#caracteristiques{
  list-style: none;
  padding-left:0px;
  font-size: 14px;
}
#caracteristiques li:first-child {
  background-color: #191F40;
  border-left:none;
  color:white;
}
#caracteristiques li{
  display: inline-block;
  text-align: center;
  border-left: 1px solid #191F40;
  padding:5px 10px 0px 10px;
}

#description{
font-size: 14px;
}

.fb-login, .indexSearch {
    padding: 10px;
    background: none;
    background-color: #0082C2;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 10px;
    font-weight: bold;
}

.fb-login:disabled {
    background-color: gray;
}

.pin1 {
    color: orange;
}



.social-post {
    background: white;
    width: initial;
    padding: 10px;
    margin: 10px 0;
}

.fa.fa-facebook {
    color : white;
}
.bandeau {
    background : #657bf4;
    margin-top : -10px;
    margin-left : -10px;
    margin-right : -10px ;
    width : calc(100% + 20px);
    height : 30px;
    line-height: 30px;
}


.popup-background {
    display: none;
    z-index: 100;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
}

.popup-background .popup {
    border-radius: 5px;
    background-color: white;
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
}

.popup-background .popup h1 {
    font-size: 20px;
}

.form-group {
    margin: 5px;
}

.form-group label {
    display: inline-block;
    box-sizing: border-box;
    width: 30%;
}

.form-group textarea {
    margin-top: 5px;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
}

.form-group input {
    display: inline-block;
    box-sizing: border-box;
    width: 69%;
}

.form-group textarea {
    display: block;
}