.video-overlay, .modal-overlay {
    position: fixed;
    display: none;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    background-color: rgba(0,0,0,0.8);
}

.video-overlay .quit{
    position: fixed;
    color: white;
    font-size: 20px;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
}

.video-overlay video {
    background-color: black;
    margin: auto;
}

.video-overlay video.self-video {
    width: 200px;
    left: 50%;
    top: 50%;
}

.modal {
    background-color: white;
    margin: auto;
    
    padding: 15px;
    z-index: 2000;
}

.modal button {
    border: 1px solid lightgray;
    padding: 5px 10px;
    background: none;
    float: right;
    margin-left: 5px;
    cursor: pointer;
}

.video-container {

}