<%- include('base'); %>

<link rel="stylesheet" href="/admin-style.css">

<section>

    <div class ="tabvendeur">
        <table style="width:100%">
            <tr>
                <th class="photo">Photo</th>
                <th class="nom">Nom du vendeur</th>
                <th class="identifiant">Identifiant</th>
                <th class="secteur">Secteur</th>
                <th class="edit"></th>
                <th class="delete"></th>
            </tr>
            <% vendeurs.forEach(function(profil) { %>
                <tr data-vendeur-id="<%= profil.id %>">
                    <td class="photo"><img src="/vendeur_profil/<%= profil.image %>"</td>
                    <td class="nom"><%= profil.nom %></td>
                    <td class="identifiant"><%= profil.username %></td>
                    <td class="secteur"><%= profil.secteur %></td>
                    <td class="edit"><img class ="edit" src="/img/pencil.png"></td>
                    <td class="delete"><a class="deleteVendeur" data-vendeur-id="<%= profil.id %>"><img src="/img/delete.png"></a></td>
                </tr>
            <% }); %>
        </table>


        <img class="add" src="/img/add.png">
    </div>

    <%- include('chat'); %>
</section>


<div class="editpopup">
    <div class="fenetreedit">
        <h1>Editer un vendeur</h1>
        <form class="editvendeurform" method="post" action="/api/vendeur?next=/admin">
            <input type="hidden" name="id" />
            <div class="form-group">
                <label>Nom du vendeur</label>
                <input type="text" name="nom" />
            </div>
            <div class="form-group">
                <label>Identifiant</label>
                <input type="text" name="username" />
            </div>
            <div class="form-group">
                <label>Secteur</label>
                <input type="text" name="secteur" />
            </div>
            <button class="annulerEdit">Annuler</button>
            <button type="submit">Enregistrer les modifications</button>
        </form>
    </div>
</div>

<div class="addpopup">
    <div class="fenetreedit">
        <h1>Ajouter un vendeur</h1>
        <form class="editvendeurform" method="post" action="/api/vendeur?next=/admin" enctype="multipart/form-data">
            <div class="form-group">
                <label>Photo</label>
                <input type="file" name="image" id="inputeditphoto"/>
            </div>
            <div class="form-group">
                <label>Nom du vendeur</label>
                <input type="text" name="nom" value="Clément Michel"/>
            </div>
            <div class="form-group">
                <label>Identifiant</label>
                <input type="text" name="username" value="clement"/>
            </div>
            <div class="form-group">
                <label>Secteur</label>
                <input type="text" name="secteur" value="habillement enfants"/>
            </div>
            <div class="form-group">
                <label>Mot de passe</label>
                <input type="password" name="password" value="test"/>
            </div>
            <button class="annulerAdd">Annuler</button>
            <button type="submit">Ajouter à la base de données</button>
        </form>
    </div>
</div>

<script type="text/javascript">
$('.edit').click(function(e) {
    $('.editpopup').fadeIn();
    var tr = $(this).parent('tr');
    var editPopup = $('.editpopup');

    editPopup.find('input[name=nom]').val(tr.find('.nom').text());
    editPopup.find('input[name=username]').val(tr.find('.identifiant').text());
    editPopup.find('input[name=secteur]').val(tr.find('.secteur').text());
    editPopup.find('form').attr('action', '/api/vendeur/'+tr.data('vendeurId')+'?next=/admin');
});
$('.annulerEdit').click(function(e) {
    e.preventDefault();
    $('.editpopup').fadeOut();
});
$('.annulerAdd').click(function(e) {
    e.preventDefault();
    $('.addpopup').fadeOut();
});
$('.add').click(function(e) {
    $('.addpopup').fadeIn();
});

$('.deleteVendeur').click(function(e) {
    var vendeurId = $(this).data('vendeurId')
    $.ajax({
        url: '/api/vendeur/'+vendeurId,
        type: 'DELETE',
        datatype: 'application/json',
        success: function(response) {
            location.reload();
        },
    });
})


</script>