<!doctype html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta charset="UTF-8">
	<title>Boutique - Vendeurs</title>
	<link href='//fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/vendeur-style.css">
	<link rel="stylesheet" href="/tabs.css">
	<link rel="stylesheet" href="/social-popup.vendeur.css">
	<link rel="stylesheet" href="/mobile.css">
	<link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <script type="text/javascript" src="/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/utils.js"></script>
    <script type="text/javascript" src="/social-popup.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>

    <style>
        .big-img-container {
            text-align: center;
        }

        .social-content > div:nth-child(odd) {
            clear: left;
        }

        .social-content > div:nth-child(even) {
            clear: right;
        }

        .social-content > div {
            margin: 5px;
            width: calc(50% - 30px);
            float: left;
        }
    </style>
</head>
<body>
    <script type="text/javascript">
        var tablet = function() { return window.innerWidth < 900 };
    </script>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js" type="text/javascript"></script>

	<menu>

		<div class="vendeur">
			<img src="<%= locals.vendeur ? '/vendeur_profil/'+locals.vendeur.image : '/img/defaultAvatar.png' %>"/>
		</div>

        <ul>
            <li><a href="/vendeur"><img class="shop" src="/shop.png"/></a></li>
            <li><a href="/vendeur/communication"><img class="shop" src="/img/users.png"/></a></li>
            <li><a href="/vendeur/questions"><img class="shop" src="/img/questionB.png"/></a></li>
            <li><a href="/vendeur/parametres"><img class="shop" src="/settings.png"/></a></li>
        </ul>
        <ul>
            <li><a href="/admin"><img class="shop" src="/img/manager.png"/></a></li>
        </ul>



	</menu>

</body>
</html>
