<link rel="stylesheet" href="/chat.css">

<div class="chat-container">

</div>

<script type="text/mustache-template" id="userline-template">
    <li>
        <img src="/vendeur_profil/{{image}}" />
        <div>
            <h4>{{ nom }}</h4>
            <p>
                <span class="badge">Vendeur</span>
            </p>
        </div>
        <button data-id="{{id}}" class="video-call">Appel vidéo</button>
        <button data-id="{{id}}" class="text-open">Contacter</button>
    </li>
</script>

<script type="text/mustache-template" id="chatbox-template">
    <div class="chat">
        <div class="header">
            {{ nom }}
            <a><i class="fa fa-times" aria-hidden="true"></i></a>
            <a style="display: none"><i class="fa fa-external-link-square" aria-hidden="true"></i></a>
        </div>
        <div class="body">
            <div class="sendbox">
                <textarea rows="3" placeholder="Message"></textarea>
                <button><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            </div>
        </body>
    </div>
</script>

<script type="text/mustache-template" id="chatbox-message">
    <div class="message {{#own}}message-own{{/own}}">
        <img class="author" src="/vendeur_profil/{{image}}{{^image}}<%= vendeur.image %>{{/image}}"/>
        <div class="line" data-id="{{id}}">
            {{text}}
        </div>
        <div class="infos">
            Envoyé à {{date}}
        </div>
    </div>
</script>

<link rel="stylesheet" href="/video.css" />

<div class="video-overlay">
    <video class="chat-video"></video>
    <video class="self-video"></video>
    <button class="quit"><i class="fa fa-times" aria-hidden="true"></i></button>
</div>

<div class="modal-overlay">
    <div class="modal">
        <p><span class="vendeur"></span> souhaite engager une conversation vidéo. Souhaitez-vous continuer ?</p>
        <button data-type="accept">Accepter</button>
        <button data-type="decline">Refuser</button>
    </div>
</div>

<script type="text/javascript">
    
</script>

<script src="/simplepeer.min.js"></script>
<script src="/chat.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    new ChatInterface('<%= vendeur.id %>', $('.userlist'));
</script>