<%- include('base'); %>

<section>

	<style>
		.userlist {
			font-family: Lato;
			width: 100%;
			background-color: white;
			border: 1px solid lightgray;
		}

		.userlist .heading {
			padding: 0px 20px;
			border-bottom: 1px solid lightgray;
		}

		.userlist .heading input {
			float: right;
			padding: 5px;
			outline: none;
			font-family: Lato;
		}

		.userlist .content {
			float: none;
		}

		.userlist ul {
			list-style-type: none;
			align-items: center;
			margin: 0;
			padding: 0;
		}

		.userlist img {
			border-radius: 50%;
    		width: 50px;
    		height: 50px;
			margin-right: 10px;
		}

		.userlist li {
			display: flex;
			flex-direction: horizontal;
			align-items: center;
			padding: 5px 10px;
			border-bottom: solid 1px lightgray;
		}

		.userlist li button {
			border: 1px solid #34495E;
			font-family: Lato;
			background: none;
			padding: 8px;
		}

		.userlist li button:first-of-type {
			margin-left: auto;
			margin-right: 5px;
		}

		.userlist li h4 {
			margin: 0;
			margin-bottom: 5px;
		}

		.userlist li p {
			margin: 0;
			font-size: 0.8em;
		}

		.badge {
			background-color: lightblue;
			border-radius: 2px;
			padding: 2px 5px;
			margin-right: 5px;
		}

	</style>

	<div class="userlist">
		<div class="heading">
			<input type="text" placeholder="Rechercher..."/>
			<h2>Vendeurs en ligne</h2>
		</div>
		<div class="content">
			<ul>
			</ul>
		</div>
	</div>

    <%- include('chat'); %>

</section>
