<%- include('base'); %>

<style>
    .login-form {
        background-color: white;
        padding: 15px;
    }

    .login-form > p.error {
        background-color: rgba(255,0,0,0.2);
        padding: 5px;
    }

    .login-form input[type='submit'] {
        margin: 10px 5px;
    }

    .login-form form div {
        margin: 5px 0;
    }
</style>

<section>

    <div class="login-form">

        <h4>Connexion à l'interface vendeurs</h4>

        <% error.forEach(function(message) {  %>
            <p class="error"><%= message %></p>
        <% }) %>

        <form action="/vendeur/login" method="post" class="generic-form">
            <div class="input-group">
                <label>Identifiant </label>
                <input type="text" name="username"/>
            </div>
            <div class="input-group">
                <label>Mot de passe </label>
                <input type="password" name="password"/>
            </div>
            <input type="submit" value="Connexion"/>
        </form>

    </div>

</section>
