<%- include('base'); %>

<section>
    <h2>Paramètres du Social Store</h2>

    <h3>Configuration de l'API Facebook</h3>
    <button class="fb-login"><i class="fa fa-facebook" aria-hidden="true"></i> Vérification de l'état de la connexion...</button>

    <%- include('chat'); %>
</section>

<script type="text/javascript">
    var fbOnline = false;

    $.ajax({
        url: '/social/facebook/access_token',
        type: 'GET',
        datatype: 'application/json',
        success: function(response) {
            if (response === 'NOT_CONNECTED') $('.fb-login').html('<i class="fa fa-facebook" aria-hidden="true"></i> Connexion');
            else $('.fb-login').html('<i class="fa fa-facebook" aria-hidden="true"></i> Compte connecté');
        },
    });

    function publishToken(access_token) {
        $.ajax({
            url: '/social/facebook/access_token?token='+access_token,
            type: 'GET',
            datatype: 'application/json',
            success: function(response) {
                $('.fb-login').html('<i class="fa fa-facebook" aria-hidden="true"></i> Compte connecté');
                $('.fb-login').prop('disabled', true);
            },
        });
    }

    window.fbAsyncInit = function() {
        // On initialise le SDK FB en spécifiant la version de l'API que l'on souhaite utiliser ainsi que l'identifiant de notre application
        FB.init({
            appId      : '<%= locals.fbAppID %>',
            version    : 'v2.7'
        });
        FB.getLoginStatus(function(response) {
            fbOnline = (response.status === 'connected');
            var token = response.authResponse.accessToken;
            console.log(token);

            $('.fb-login').click(function() {
                $('.fb-login').prop('disabled', true);
                if (fbOnline) publishToken(token);
                else FB.login(function(response) {
                    console.log(response);
                    if (response.authResponse) {
                        publishToken(response.authResponse.accessToken);
                    } else {
                        $('.fb-login').html('<i class="fa fa-facebook" aria-hidden="true"></i> Permission refusée, cliquez pour réessayer');
                    }
                });
            })
        });
    };

    // Ce code est donné par l'exemple sur la documentation de Facebook, il s'agit simplement d'ajouter un noeud <script>
    // permettant d'inclure le SDK Facebook dans la page
    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/fr_FR/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
</script>