<%- include('base', {vendeur: vendeur}); %>

<script type="text/mustache-template" id="questionItem">
    <li class="question-item">
        <a data-item-id="{{id}}">
            <img src="/vendeur_profil/{{vendeur.image}}" data-key="">
            <div>
                <h4>{{vendeur.nom}}</h4>
                <em style="font-size: 0.8em;">{{date}}</em><br/>
                <em style="font-size: 0.8em;">En référence au produit : {{produit.nom}} </em>
                <p class="ligne1" style="margin-top: 5px">
                    {{text}}
                </p>
            </div>
            <div class="response-count">
                <h1>{{rCount}}</h1>
                réponse
            </div> 
        </a>
    </li>
</script>

<script type="text/mustache-template" id="questionDetails">
    <a class="button back-to-list">Retour à la liste</a>

    <div class="question-banner">
        <img src="/vendeur_profil/{{vendeur.image}}" data-key="">
        <div>
            <h4>{{vendeur.nom}}</h4>
            <em style="font-size: 0.8em;">{{date}}</em><br/>
            <em style="font-size: 0.8em;">En référence au produit : {{produit.nom}}</em>
        </div>
    </div>

    <p class="question-text">
        {{text}}
    </p>

    <hr/>

    <div class="qna">
        <h4>Réponses</h4>
        <ul class="reponse-list">
            {{#reponses}}
                <li>
                    <img src="/vendeur_profil/{{vendeur.image}}" data-key="">
                    <div>
                        <h4>{{vendeur.nom}}</h4>
                        <em style="font-size: 0.8em;">{{date}}</em>
                        <p>{{text}}</p>
                    </div>
                    <img src="/like-gray.png"/>
                </li>
            {{/reponses}}
        </ul>
        <ul>
            <li class="form">
                <form method="post" id="form-reponse" action="/api/questions/{{id}}/reponse?next=/vendeur/questions?question_id={{id}}">
                    <input type="hidden" name="idVendeur" value="<%= vendeur.id %>" />
                    <img src="/vendeur_profil/<%= vendeur.image %>" data-key="">
                    <div>
                        <h4>Proposer une réponse</h4>
                        <textarea name="text" rows="3"></textarea>
                    </div>
                    <input class="button" type="submit" style="margin-left: 10px;" value="Envoyer"/>
                </form>
            </li>
        </ul>
    </div>
</script>

<section>

    <div class="box">
		<div class="heading">
			<h2>Questions - Réponses</h2>
			<input type="text" placeholder="Rechercher..."/>
		</div>
		<div class="content">
            <div class="sidebar list-pane">
                <ul class="clickable-items">
                    <li class="question-item form">
                        <form method="post" action="/api/questions?next=/vendeur/questions">
                            <input type="hidden" name="idVendeur" value="<%= vendeur.id %>" />
                            <img src="/vendeur_profil/<%= vendeur.image %>" data-key="">
                            <div class="ajouterQuestion">
                                <h4>Poser une nouvelle question :</h4>
                                <select name="idProduit">
                                    <% produits.forEach(function(produit) { %>
                                        <option value="<%= produit.id %>"><%= produit.nom %> (<%= produit.type %>)</option>
                                    <% }) %>
                                </select>
                                <textarea name="text"></textarea>
                            </div>
                            <input class="button" type="submit" style="margin-left: 10px;" value="Envoyer"/>
                        </form>
                    </li>
                </ul>
            </div>
            <div class="question-details details-pane" style="display: none">
                
            </div>
            <div class="no-selection">
                <p>Sélectionnez un produit pour afficher ses détails</p>
            </div>
		</div>
    </div>

    <link rel="stylesheet" href="/questions.css" />

    <script type="text/javascript">
        var box = new Box(
            $('.box:first-child'),
            template('questionItem'),
            template('questionDetails'),
            function loadDetails(id, cb) {
                $.ajax({
                    url: '/api/questions/'+id,
                    type: 'GET',
                    datatype: 'application/json',
                    success: function(question) {
                        cb(question);
                    },
                });
            }
        );

        box.addItems(<%- JSON.stringify(questions) %>);
        

        if (/question_id=([0-9]+)/.test(location.search)) {
            var questionId = parseInt(RegExp.$1);
            console.log(questionId);
            box.open(questionId);
        }
    </script>
    
    <%- include('chat'); %>
</section>