<%- include('base'); %>

<section>

    <script type="text/javascript">
        $(document).ready(function(){
            navigator.getUserMedia({ audio: false, video: {facingMode: {exact: 'environment'}} }, function(stream) {
                var videoContainer = document.getElementById('video');
                videoContainer.src = window.URL.createObjectURL(stream);

                var canvas = document.createElement('canvas');

                var ivl = setInterval(function() {
                    var height = $(videoContainer).height();
                    var width = $(videoContainer).width();

                    canvas.width = width;
                    canvas.height = height;
                    canvas.getContext('2d').drawImage(videoContainer, 0, 0, width, height);
                    var data = canvas.toDataURL();

                    $.post('/scan', data, function(data) {
                        if (data.length > 0) {
                            clearInterval(ivl);
                            $('#barcode').text(data);
                        }
                    });
                }, 1000);
            }, function() { console.error('unable to access webcam') });
        });
    </script>
    <h1 id="barcode"></h1>
    <video id="video" autoplay></video>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="barcode"/>
        <input type="submit" />
    </form>

</section>