<%- include('base'); %>

<script type="text/mustache-template" id="productBanner">
    <button class="social-button social-list right" data-product-id="{{id}}">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-youtube" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        Contenu lié
    </button>
    <img src="/product_image/{{image}}" data-key="">
    <h3>{{nom}}</h3>
    <p>
        Confectionnées en daim uni tabac, les baskets montantes WATTLE affichent un style contemporain et urbain. Leur semelle en caoutchouc blanche est surlignée d'une bande de couleur tabac, en écho avec le daim. La découpe graphique des empiècements en daim et du renfort arrière en cuir tons sur tons dynamisent le design épuré de la chaussure. Dotée d'une doublure en toile de coton et d'une semelle intérieure de 5mm d'épaisseur, elle est confortable pour vous accompagner dans votre quotidien.
    </p>
</script>

<script type="text/mustache-template" id="productItem">
    <li>
        <a class="product-button" data-item-id="{{id}}">
            <img src="/product_image/{{image}}" data-key="">
            <p class="ligne1">
                {{nom}} <br class="ligne2"/>
                {{type}}
            </p>
        </a>
    </li>
</script>

<script type="text/javascript">
    function importTweet(id) {
        var url = $('#import_tweet').val()
        $.post('/social/suggest/'+id, {
            url: url
        }, function(response) {
            if (response.id) {
                $('#import_tweet').val('');
                alert('Le tweet de '+response.nom_auteur+' a bien été ajouté à la liste de contenu associé au produit');
            } else alert('Une erreur est survenue, vérifiez le lien fourni.');
        })
    }


    function importAll(id) {
        $.get('/social/import/'+id, function(response) {
            console.log(response);
            if (response && typeof response.length === 'number') alert(response.length+' résultat(s) importé(s)');
            else alert('Une erreur est survenue');
        })
    }
</script>

<script type="text/mustache-template" id="productDetails">
    <a class="button back-to-list">Retour à la liste</a>

    <div class="product-banner">
        <button class="social-button social-list right" data-product-id="{{id}}" onclick="openPopup({{id}})">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-youtube" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            Contenu lié
        </button>
        <img src="/product_image/{{image}}" data-key="">
        <h3>{{nom}}</h3>
        <p>
            Confectionnées en daim uni tabac, les baskets montantes WATTLE affichent un style contemporain et urbain. Leur semelle en caoutchouc blanche est surlignée d'une bande de couleur tabac, en écho avec le daim. La découpe graphique des empiècements en daim et du renfort arrière en cuir tons sur tons dynamisent le design épuré de la chaussure. Dotée d'une doublure en toile de coton et d'une semelle intérieure de 5mm d'épaisseur, elle est confortable pour vous accompagner dans votre quotidien.
        </p>
    </div>

    <style>
        .qna button, .qna a {
            border: 1px solid #34495E;
            border-bottom: 1px solid #34495E !important;
            font-family: Lato;
            background: none;
            padding: 8px;
            font-size: 0.8em;
            padding: 5px;
            margin: 0 5px;
        }

        .qna button.import_all {
            float: right;
            color: white;
            border-radius: 5px;
            background-color: #0082C2;
            border: none;
        }
    </style>

    <div class="qna">
        <button style="float: right" onClick="importAll({{id}})">Importer le contenu lié au produit</button>
        <h4>Réseaux sociaux</h4>
        <div><label>Ajouter un tweet : </label><input type="text" id="import_tweet" /><button onClick="importTweet({{id}})">Ajouter</button></div>
    </div>

    <div class="qna">
        <h4>Questions - Réponses</h4>
        <ul class="question-list">
            {{#questions}}
                <li>
                    <img src="/vendeur_profil/{{vendeur.image}}">
                    <div>
                        <h5>{{vendeur.nom}}</h5>
                        <p>{{text}}</p>
                    </div>
                    <a class="button" href="/vendeur/questions?question_id={{id}}">Voir les réponses</a>
                </li>
            {{/questions}}
        </ul>
    </div>
</script>

<script type="text/mustache-template" id="post-template">
    <div class="post">
        <div class="bandeau bandeau-{{type}}">
            <a><i class="fa fa-exclamation-triangle right" aria-hidden="true"></i></a>
            <a class="pinA"><i class="fa fa-thumb-tack right pin{{pin}}" aria-hidden="true"></i></a>
            <i class="fa fa-{{type}} left" aria-hidden="true"></i>
        </div>
        <div class="body">
            <strong>{{nom_auteur}}</strong> : {{description}}
            {{{mediaTag}}}
        </div>
    </div>
</script>

<section>

    <div class="box">
		<div class="heading">
			<h2>Produits de la boutique</h2>
			<input type="text" placeholder="Rechercher..."/>
            <button class="barcode-button"><img src="/img/barcode.png" width="32px" /></button>
		</div>
		<div class="content">
            <div class="list-pane sidebar">
                <ul class="product-list clickable-items"></ul>
            </div>
            <div class="details-pane product-details" style="display: none">
                
            </div>
            <div class="no-selection">
                <p>Sélectionnez un produit pour afficher ses détails</p>
            </div>
		</div>
    </div>
    
    <script type="text/javascript">

        var box = new Box(
            $('.box:first-child'), 
            template('productItem'),
            template('productDetails'),
            function loadDetails (id, cb) {
                $.ajax({
                    url: '/api/produits/'+id,
                    type: 'GET',
                    datatype: 'application/json',
                    success: function(produit) {
                        $.ajax({
                            url: '/api/questions/produits/'+id,
                            type: 'GET',
                            datatype: 'application/json',
                            success: function(questions) {
                                produit.questions = questions;
                                cb(produit);
                            },
                        });
                    },
                });
            }
        );

        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        $.ajax({
            url: '/api/produits',
            type: 'GET',
            datatype: 'application/json',
            success: function(response) {
                box.addItems(response);
                var id = getParameterByName('product_id');
                if (id) box.open(id);
            },
        });


        $(document).ready(function() {
            $('.barcode-button').click(function() {
                navigator.getUserMedia({ video: true, audio: false }, function(stream) {
                    $('.scan-overlay').show();
                    var video = $('.scan-overlay > video');
                    video[0].src = window.URL.createObjectURL(stream);
                    video[0].play();

                    var canvas = document.createElement('canvas');

                    var ivl = setInterval(function() {
                        var height = video.height();
                        var width = video.width();

                        canvas.width = 320;
                        canvas.height = 240;
                        var context = canvas.getContext('2d');
                        context.drawImage(video[0], 0, 0, 320, 240);
                        var imageData = context.getImageData(0, 0, width, height);
                        var data = imageData.data;
                        for (var i = 0; i < data.length; i += 4) {
                            var bright = 0.34 * data[i] + 0.5 * data[i + 1] + 0.16 * data[i + 2];
                            data[i] = bright;
                            data[i + 1] = bright;
                            data[i + 2] = bright;
                        }
                        context.putImageData(imageData, 0, 0);

                        var data = canvas.toDataURL();

                        $.post({
                            url: '/scanner',
                            data: data,
                            contentType: 'application/image-stream',
                            success: function(data) {
                                if (typeof(data) === 'object' && data.id) {
                                    stream.getTracks().forEach(function(track) { track.stop() });
                                    clearInterval(ivl);
                                    $('.scan-overlay').hide();
                                    box.open(data.id)
                                }
                            }
                        });
                    }, 5000);
                }, function () {})
            });
        });

    </script>

    <div class="scan-overlay" style="display: none">
        <video></video>
    </div>

    
    <div class="social-popup">
        <div class="bandeauHaut">
          <ul class ="listeRecherche">
              <li>
                <img src="/img/facebook.png" href="" class = "RS"/>
                <img src="/img/instagram.png" href="" class = "RS"/>
                <img src="/img/twitter.png" href="" class = "RS"/>
                <img src="/img/youtube.png" href="" class = "RS"/>
              </li>
              <li>
                <img src="/img/texte.png" href="" class="type"/>
                <img src="/img/image.png" href="" class="type" id="image"/>
                <img src="/img/video.png" href="" class="type"/>
              </li>
              <li><input type="text" id="search-post" placeholder="Rechercher une publication..."/></li>
          </ul>
        </div>
        <img src="img/gears.gif" class="gears" />
        <div class="content product-content">

        </div>
    </div>

    <%- include('chat'); %>
</section>

<div class="popup-background">
    <div class="popup">
        <h1>Ajouter un produit</h1>
        <form class="ajouterProduitForm" method="post" action="/api/produits?next=/vendeur" enctype="multipart/form-data">
            <div class="form-group">
                <label>Nom du produit</label>
                <input type="text" name="nom" />
            </div>
            <div class="form-group">
                <label>Type</label>
                <input type="text" name="type" />
            </div>
            <div class="form-group">
                <label>Image</label>
                <input type="file" name="image" />
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea name="description"></textarea>
            </div>
            <a class="formCancel">Annuler</a>
            <button type="submit">Ajouter à la base de données</button>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        var popup = $('.popup-background');
        var form = $('.ajouterProduitForm');
        $('#ajouterProduitBtn').click(function() {
            popup.fadeIn();
        });

        form.find('.formCancel').click(function(e) {
            popup.fadeOut();
        })
    });
</script>
